.contactData {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
}

form {
  margin: 0 10px;
}

.input {
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  margin: 5px 0;
  width: 100%;
  box-sizing: border-box;
}

label {
  margin: 0 20px;
}

.gender {
  margin-top: 10px;
}

@media (min-width: 600px) {
  .contactData {
    width: 500px;
  }
}
